:root {
  // Colors
  --c-white: #ffffff;
  --c-black: #000000;
  --c-black-40: rgba(0, 0, 0, 0.4);

  --c-solitude: #e9ebf0;
  --c-granny-smith-apple: #9be198;
  --c-fern: #6fc76c;
  --c-dim-gray: #737373;
  --c-vista-blue: #91d6ac;
  --c-white-smoke: #f8f8f8;
  --c-dark-gray: #a5a5a5;

  --c-bg-content: #f5fdf7;
  --c-bg-hover: #e8f5e9;

  --c-text: #1b1b1b;
  --c-text-secondary: #4e6e50;

  --c-header: #2e7d32;

  // Typography
  --ff-main: "PTSans", "Arial", sans-serif;
  --ff-secondary: "Arsenal", "Arial", sans-serif;

  // Animation
  --transition-200: ease-in 0.2s;

  // border radius
  --border-radius-14: 14px;
  --border-radius-16: 16px;
  --border-radius-20: 20px;
  --border-radius-50: 50%;

  --padding-0: 0;
  --padding-5-10: 5px 10px;
  --padding-15-0: 15px 0;

  --width-100: 100%;

  // Font size
  --f-size-16: 16px;
  --f-size-18: 18px;
  --f-size-20: 20px;
  --f-size-24: 24px;

  --f-size-h1: 44px;
  --f-size-h1-mobile: 42px;

  --f-size-h2: 40px;
  --f-size-h2-mobile: 38px;

  --f-size-h3: 34px;
  --f-size-h3-mobile: 32px;

  --f-size-h4: 30px;

  // Line height
  --lh-44: 54px;

  // Font weight
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  //Margin
  --m-btm-110: 110px;
}

// Dealy
$delay-02: 0.2s;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;
